{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-column-minimum">

      <div class="govuk-!-padding-bottom-6"></div>

      <h1 class="govuk-heading-l">
        Apply for personal licence
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Prepare your application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="../new-user/profile-added-training" aria-describedby="details-completed">
                Enter your details
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="details-completed">
                Completed
              </strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="../new-user/training-question" aria-describedby="training-completed">
                Add training modules</a><br>
                <span class="govuk-caption-m govuk-!-font-size-16" style="padding-top: 10px">You can apply for an exemption</span>

              <!--<strong class="govuk-tag app-task-list__task-completed" id="training-completed" style="margin-top: -50px">-->
                <!--Completed-->
              <!--</strong>-->
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="procedures">
                Add procedure categories
              </a>
            </li>
          </ul>
        </li>
        <!--<li>-->
          <!--<h2 class="app-task-list__section">-->
            <!--<span class="app-task-list__section-number">2. </span> Declaration-->
          <!--</h2>-->
          <!--<ul class="app-task-list__items">-->
            <!--<li class="app-task-list__item">-->
              <!--<a class="app-task-list__task-name" href="declaration" aria-describedby="read-declaration-completed">-->
                <!--Make declarations-->
              <!--</a>-->
              <!--&lt;!&ndash;<strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">&ndash;&gt;-->
              <!--&lt;!&ndash;Completed&ndash;&gt;-->
              <!--&lt;!&ndash;</strong>&ndash;&gt;-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Submit your application
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="application-check-answers">
                Send to NTCO
              </a>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
