{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-!-padding-bottom-4"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="question-add-another2" method="post" class="form">

            <fieldset class="govuk-fieldset" aria-describedby="vehicle-features-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <span class="govuk-caption-m">Step 2 of 2</span>
                    <h1 class="govuk-fieldset__heading">
                        Why should you be exempted from these training modules?
                    </h1>
                </legend>

                <div class="govuk-inset-text" style="margin-top: 7px">An NTCO will only review training and exemptions
                    when you apply for a personal licence. Exemptions will also be reviewed by an inspector.
                </div>

                <div class="govuk-form-group">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="evidence">
                            Reasons for exemption
                        </label>
                        <span id="more-detail-hint" class="govuk-hint">
                    Please give specific details about how your level of professional experience is sufficient for an exemption.</span>
                        <textarea class="govuk-textarea" id="evidence" name="evidence" rows="5"
                                  aria-describedby="evidence"></textarea>
                    </div>
                </div>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="file-upload-1">
                        Upload supporting documentation (if available)
                    </label>
                    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                </div>

                <div class="govuk-!-padding-bottom-2"></div>

                <button class="govuk-button">Continue</button>

        </form>

    </div>
</div>

{% endblock %}
