{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-7"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Sprint 22
            <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
        </h1>{{releaseVersion | log }}


  <h4 class="govuk-heading-s">1. Use of animals / NTS (The 3Rs) / Sections list - Tested.</h4>
        <a href="https://ao54m5.axshare.com/home_v_1_-_no_catagory_lists.html" target="_blank" role="button"
           class="govuk-button govuk-button">
            Open prototype
        </a>


        <h4 class="govuk-heading-s">2. PPL Mark sections as 'Complete' - Tested.</h4>
              <a href="https://invis.io/MGPGM08A9DW" target="_blank" role="button"
                 class="govuk-button govuk-button">
                  Open prototype
              </a>


<h4 class="govuk-heading-s">3. PPL Applicant Information v1 - Tested.</h4>
<a href="https://34nwbc.axshare.com" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>

<br><br>

<h4 class="govuk-heading-s">4. PPL Project location v1 - Tested.</h4>
<a href="https://w80hve.axshare.com" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>

<br><br>

<h4 class="govuk-heading-s">5. PPL ProjectPlan v1 - Tested.</h4>
<a href="https://8zef1q.axshare.com" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>

<br><br>

<h4 class="govuk-heading-s">6. PPL Other considerations v1 - Tested.</h4>
<a href="https://bz6fgg.axshare.com" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>

<br><br>

<h4 class="govuk-heading-s">7. PPL All Ronnie’s sections x 4 v1 - Tested.</h4>
<a href="https://e6mwx3.axshare.com" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>



    </div>
</div>

{% endblock %}
