{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="make-decision">Back</a>
<div class="govuk-!-padding-bottom-4"></div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Confirm decision
        </h1>

        <div class="govuk-!-padding-bottom-4"></div>

        <dl class="app-check-your-answers app-check-your-answers--short">
            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Decision
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{ data['decision'] }} to inspector
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="#">
                        Change
                    </a>
                </dd>
            </div>

            <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                    Explanation
                </dt>
                <dd class="app-check-your-answers__answer">
                    {{ data['more-detail'] }}
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="#">
                        Change
                    </a>
                </dd>
            </div>

        </dl>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Rejecting this amendment will discard any changes you have made to this area's restrictions.
            </strong>
        </div>

        <!--<br>-->

        <a class="govuk-button" href="confirmation-page-returned" role="button">
            Submit
        </a>

    </div>
</div>
{% endblock %}
