{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<!--<div class="govuk-phase-banner">-->
<!--<p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">-->
<!--Prototype-->
<!--</strong>-->
<!--<span class="govuk-phase-banner__text">-->
<!--This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.-->
<!--</span>-->
<!--</p>-->
<!--</div>-->

<div class="govuk-width-container">
    <a href="tasks" class="govuk-back-link">Back to tasks</a>

    <div class="govuk-!-padding-bottom-4"></div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-l">Amend approved area
                <!--<span class="govuk-caption-m">University of Birmingham</span>-->
            </h2>

            <!--<div class="govuk-inset-text">-->
            <!--Submitted by Angela Smith on behalf of William Blanc on 2 June 2018.-->
            <!--<div class="govuk-!-padding-bottom-2"></div>-->
            <!--Recommendation provided by Irene Miles on 6 June 2018.-->
            <!--</div>-->

            <!--<div class="govuk-!-padding-bottom-3"></div>-->

        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">

                <!-- < CONTENT NAVIGATION > -->
                <ul class="leftnav">
                    <li>
                        <a href="#"
                           class="leftnavlinks application-details active" data-target="application-details">
                            View request
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="leftnavlinks restrictions" data-target="restrictions">
                            Change restrictions
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="leftnavlinks recommendation" data-target="recommendation">
                            View inspector's recommendation
                        </a>
                    </li>
                    <li>
                        <hr style="margin:0">
                        <a href="#"
                           class="leftnavlinks decision" data-target="decision">
                            Make a decision
                        </a>
                    </li>
                </ul>
                <!-- </ CONTENT NAVIGATION > -->
            </div>


            <div class="govuk-grid-column-two-thirds">

                <!-- < APPLICATION DETAILS > -->
                <div id="application-details" class="leftnavcontent" style="display: block;">
                    <form class="check-fields" data-current="application-details">

                        <h3 class="govuk-heading-m">
                            Amendment request
                        </h3>

                        <div class="govuk-!-padding-bottom-6"></div>

                        <table class="govuk-table">
                            <!--<caption class="govuk-table__caption">Caption</caption>-->
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row noBorder">
                                <th class="govuk-table__header" scope="col"></th>
                                <th class="govuk-table__header" scope="col">Current</th>
                                <th class="govuk-table__header" scope="col">Proposed</th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            <tr class="govuk-table__row noBorder">
                                <th class="govuk-table__header" scope="row">Site</th>
                                <td class="govuk-table__cell ">Apollo House</td>
                                <td class="govuk-table__cell ">Apollo House</td>
                            </tr>
                            <tr class="govuk-table__row noBorder">
                                <th class="govuk-table__header" scope="row">Area</th>
                                <td class="govuk-table__cell ">1/F</td>
                                <td class="govuk-table__cell ">1/F</td>
                            </tr>
                            <tr class="govuk-table__row noBorder">
                                <th class="govuk-table__header" scope="row">Name</th>
                                <td class="govuk-table__cell ">LG36</td>
                                <td class="govuk-table__cell ">LG36</td>
                            </tr>
                            <tr class="govuk-table__row noBorder">
                                <th class="govuk-table__header" scope="row">Suitability</th>
                                <td class="govuk-table__cell ">SA</td>
                                <td class="govuk-table__cell ">SA, <span class="highlight">AV</span>, <span
                                        class="highlight">DOG</span></td>
                            </tr>
                            <tr class="govuk-table__row noBorder">
                                <th class="govuk-table__header" scope="row">Holding</th>
                                <td class="govuk-table__cell ">STH</td>
                                <td class="govuk-table__cell "><span class="highlight">LTH</span></td>
                            </tr>
                            <tr class="govuk-table__row noBorder">
                                <th class="govuk-table__header" scope="row">NACWO</th>
                                <td class="govuk-table__cell "><a href="#"
                                                                  class="govuk-link govuk-link--no-visited-state">Gareth
                                    Tindall</a></td>
                                <td class="govuk-table__cell "><a href="#"
                                                                  class="govuk-link govuk-link--no-visited-state">Gareth
                                    Tindall</a></td>
                            </tr>
                        </table>
                    </form>
                </div><!-- < APPLICATION DETAILS > -->

                <!-- < RESTRICTIONS > -->
                <div id="restrictions" class="leftnavcontent" style="display: none;">
                    <form class="check-fields" data-current="restrictions">

                        <h3 class="govuk-heading-m">
                            Change restrictions
                        </h3>

                        <div class="govuk-!-padding-bottom-6"></div>
                        <h3 class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Current
                            restrictions</h3>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Perfusion under general anesthetic & Schedule 1 killing</li>
                            <li>Monday to Thursday only</li>
                        </ul>

                        <div class="govuk-!-padding-bottom-2"></div>

                        <h3 class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">What changes are needed
                            to
                            the current
                            restrictions?</h3>

                        <p><span class="highlight">Both restrictions should be removed.</span></p>

                        <div class="govuk-!-padding-bottom-6"></div>
                    </form>
                </div><!-- < RESTRICTIONS > -->


            </div>
        </div>
    </div>
</div>


{% endblock %}
