{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<!--<div class="govuk-phase-banner">-->
<!--<p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">-->
<!--Prototype-->
<!--</strong>-->
<!--<span class="govuk-phase-banner__text">-->
<!--This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.-->
<!--</span>-->
<!--</p>-->
<!--</div>-->

<div class="govuk-width-container">
    <a href="tasks" class="govuk-back-link">Back to Tasks</a>

    <div class="govuk-!-padding-bottom-4"></div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-l">Amend approved area
                <!--<span class="govuk-caption-m">University of Birmingham</span>-->
            </h2>

        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">

                <!-- < CONTENT NAVIGATION > -->
                <ul class="leftnav">
                    <li>
                        <a href="decision"
                           class="leftnavlinks application-details" data-target="application-details">
                            1. View proposed amendment
                        </a>
                    </li>
                    <li>
                        <a href="recommendation"
                           class="leftnavlinks recommendation active" data-target="recommendation">
                            2. View inspector recommendation
                        </a>
                    </li>
                    <li>
                        <!--<hr style="margin:0">-->
                        <a href="restrictions"
                           class="leftnavlinks restrictions" data-target="restrictions">
                            3. Change restrictions
                        </a>
                    </li>
                    <li>
                        <a href="make-decision"
                           class="leftnavlinks decision" data-target="decision">
                            4. Make decision
                        </a>
                    </li>
                </ul>
                <!-- </ CONTENT NAVIGATION > -->
            </div>


            <div class="govuk-grid-column-two-thirds">

                <h3 class="govuk-heading-m">
                    Step 2: Inspector recommendation
                </h3>

                <div class="govuk-inset-text">
                    Provided by <a href="#">Irene Miles</a> on 6 June 2018.
                    <!--<div class="govuk-!-padding-bottom-2"></div>-->
                </div>

                <dl class="app-check-your-answers app-check-your-answers--short">
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question">
                            Recommend to
                        </dt>
                        <dd class="app-check-your-answers__answer">
                            <h4 class="govuk-heading-s" style="margin-bottom: 7px">Approve</h4>
                        </dd>

                        <div class="govuk-!-padding-bottom-6"></div>
                    </div>
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question">
                            Explanation
                        </dt>
                        <dd class="app-check-your-answers__answer">
                            <h4 class="govuk-body" style="margin-bottom: 7px">
                                In my professional opinion the changes involving <br> both the suitability code and
                                holding code are all <br> appropriate and should be actioned accordingly.
                            </h4>
                        </dd>

                        <div class="govuk-!-padding-bottom-6"></div>
                    </div>
                    <div class="app-check-your-answers__contents">
                        <dt class="app-check-your-answers__question">
                            Changes to restrictions
                        </dt>
                        <dd class="app-check-your-answers__answer">
                            <h4 class="govuk-body" style="margin-bottom: 7px">
                                I recommend that both restrictions should be removed from this approved area.
                            </h4>
                        </dd>

                        <div class="govuk-!-padding-bottom-6"></div>
                    </div>
                </dl>

                <div class="govuk-!-padding-bottom-6"></div>
                <!--<hr class="govuk-section-break govuk-section-break&#45;&#45;xl govuk-section-break&#45;&#45;visible">-->

            </div>
        </div>
    </div>
</div>


{% endblock %}
