{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<!--<div class="govuk-phase-banner">-->
<!--<p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">-->
<!--Prototype-->
<!--</strong>-->
<!--<span class="govuk-phase-banner__text">-->
<!--This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.-->
<!--</span>-->
<!--</p>-->
<!--</div>-->

<div class="govuk-width-container">
    <a href="tasks" class="govuk-back-link">Back to Tasks</a>

    <div class="govuk-!-padding-bottom-4"></div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-l">Amend approved area
                <!--<span class="govuk-caption-m">University of Birmingham</span>-->
            </h2>

        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">

                <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize content-fixed">

                    <!-- < CONTENT NAVIGATION > -->
                    <ul class="leftnav">
                        <li>
                            <a href="decision"
                               class="leftnavlinks application-details" data-target="application-details">
                                1. View proposed amendment
                            </a>
                        </li>
                        <li>
                            <a href="recommendation"
                               class="leftnavlinks recommendation" data-target="recommendation">
                                2. View inspector recommendation
                            </a>
                        </li>
                        <li>
                            <hr style="margin:0">
                            <a href=""
                               class="leftnavlinks restrictions  active" data-target="restrictions">
                                3. Change restrictions
                            </a>
                        </li>
                        <li>
                            <a href="make-decision"
                               class="leftnavlinks decision" data-target="decision">
                                4. Make decision
                            </a>
                        </li>
                    </ul>
                    <!-- </ CONTENT NAVIGATION > -->
                </div>
            </div>


            <div class="govuk-grid-column-two-thirds">

                <!-- < RESTRICTIONS > -->
                <div id="restrictions" class="leftnavcontent" style="display: block;">

                    <h3 class="govuk-heading-m">
                        Step 3: Change restrictions
                    </h3>

                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Show requested change to restrictions
    </span>
                        </summary>
                        <div class="govuk-details__text">
                            <span class="govuk-!-font-weight-bold">Requested change to restrictions</span><br>
                            - Both restrictions should be removed.
                        </div>
                        <div class="govuk-details__text">
                            <span class="govuk-!-font-weight-bold">Inspector recommendation</span><br>
                            - I recommend that both restrictions should be removed from this approved area.
                        </div>
                    </details>

                    <table class="govuk-table">
                        <caption class="govuk-table__caption">Current</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col"></th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__cell" scope="row">None</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#"></a></td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="">Add new restriction</a>
                    <div class="govuk-!-padding-bottom-8"></div>
                </div><!-- < RESTRICTIONS > -->

                <table class="govuk-table">
                    <caption class="govuk-table__caption">You have removed 2 restrictions.</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col"></th>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col"></th>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__cell" scope="row">Perfusion under general anesthetic & Schedule 1
                            killing
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="">Undo</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__cell" scope="row">Monday to Thursday only</th>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="">Undo</a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="govuk-!-padding-bottom-4"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
