{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<!--<div class="govuk-phase-banner">-->
<!--<p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">-->
<!--Prototype-->
<!--</strong>-->
<!--<span class="govuk-phase-banner__text">-->
<!--This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.-->
<!--</span>-->
<!--</p>-->
<!--</div>-->

<div class="govuk-width-container">
    <a href="tasks" class="govuk-back-link">Back to Tasks</a>

    <div class="govuk-!-padding-bottom-4"></div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-l">Amend approved area
                <!--<span class="govuk-caption-m">University of Birmingham</span>-->
            </h2>

        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">

                <!-- < CONTENT NAVIGATION > -->
                <ul class="leftnav">
                    <li>
                        <a href="decision"
                           class="leftnavlinks application-details" data-target="application-details">
                            1. View proposed amendment
                        </a>
                    </li>
                    <li>
                        <a href="recommendation"
                           class="leftnavlinks recommendation" data-target="recommendation">
                            2. View inspector recommendation
                        </a>
                    </li>
                    <li>
                        <hr style="margin:0">
                        <a href=""
                           class="leftnavlinks restrictions  active" data-target="restrictions">
                            3. Change restrictions
                        </a>
                    </li>
                    <li>
                        <a href="make-decision"
                           class="leftnavlinks decision" data-target="decision">
                            4. Make decision
                        </a>
                    </li>
                </ul>
                <!-- </ CONTENT NAVIGATION > -->
            </div>


            <div class="govuk-grid-column-two-thirds">

                <!-- < RESTRICTIONS > -->
                <div id="restrictions" class="leftnavcontent" style="display: block;">

                    <h3 class="govuk-heading-m">
                        Step 3: Change restrictions
                    </h3>

                    <div class="govuk-!-padding-bottom-6"></div>

                    <table class="govuk-table">
                        <caption class="govuk-table__caption">Current</caption>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col"></th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__cell" scope="row">Perfusion under general anesthetic & Schedule 1
                                killing
                            </th>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Change</a></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="remove-restriction1">Remove</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__cell" scope="row">Monday to Thursday only</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Change</a></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><a href="remove-restriction2">Remove</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="#">Add another restriction</a>
                    <div class="govuk-!-padding-bottom-8"></div>
                </div><!-- < RESTRICTIONS > -->

                <!--<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">-->
                    <!--<ul class="gem-c-pagination__list" data-module="track-click">-->
                        <!--<li class="gem-c-pagination__item gem-c-pagination__item&#45;&#45;previous"-->
                            <!--style="float: left; margin-left: -35px;">-->
                            <!--<a href="recommendation"-->
                               <!--class="gem-c-pagination__link" rel="prev" data-track-category="contentsClicked"-->
                               <!--data-track-action="previous" data-track-label="/"-->
                               <!--data-track-dimension="previous" data-track-dimension-index="29">-->
                        <!--<span class="gem-c-pagination__link-title">-->
                        <!--<svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13"-->
                             <!--width="17"-->
                             <!--viewBox="0 0 17 13">-->
                        <!--<path fill="currentColor"-->
                              <!--d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>-->
                        <!--</svg>-->
                        <!--<span class="gem-c-pagination__link-text">-->
                        <!--Previous-->
                        <!--</span>-->
                        <!--</span>-->
                                <!--<span class="visually-hidden"></span>-->
                                <!--<span class="gem-c-pagination__link-label">View inspector recommendation</span>-->
                            <!--</a>-->
                        <!--</li>-->

                        <!--<li class="gem-c-pagination__item gem-c-pagination__item&#45;&#45;next" style="float: right">-->
                            <!--<a href="make-decision"-->
                               <!--class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked"-->
                               <!--data-track-action="next"-->
                               <!--data-track-label=""-->
                               <!--data-track-dimension="next" data-track-dimension-index="29">-->
          <!--<span class="gem-c-pagination__link-title">-->
            <!--<svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"-->
                 <!--viewBox="0 0 17 13">-->
              <!--<path fill="currentColor"-->
                    <!--d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>-->
            <!--</svg>-->
            <!--<span class="gem-c-pagination__link-text">-->
              <!--Next-->
            <!--</span>-->
          <!--</span>-->
                                <!--<span class="visually-hidden"></span>-->
                                <!--<span class="gem-c-pagination__link-label">Make decision</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</nav>-->

            </div>
        </div>
    </div>
</div>


{% endblock %}
