{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-!-padding-bottom-4"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="../training" method="post" class="form">

            <fieldset class="govuk-fieldset" aria-describedby="vehicle-features-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <span class="govuk-caption-m">Step 2 of 2</span>
                    <h1 class="govuk-fieldset__heading">
                        Why should you be exempted from these training modules?
                    </h1>
                </legend>

                <div class="govuk-inset-text" style="margin-top: 7px">Exemptions will also be reviewed by an inspector.
                </div>

                <div class="govuk-form-group">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="evidence">
                            Reasons for exemption
                        </label>
                        <span id="more-detail-hint" class="govuk-hint">
                          For example, you have been working in animal science for the last 6 years - during which time your training has expired.
                          </span>
                        <textarea class="govuk-textarea" id="evidence" name="evidence" rows="5"
                                  aria-describedby="evidence">I have been working on a farm in Australia since 2010, so my training has lapsed. However, my expertise has widened during this role.</textarea>
                    </div>
                </div>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="file-upload-1">
                        Upload supporting documentation (if available)
                    </label>
                    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                </div>

                <div class="govuk-!-padding-bottom-2"></div>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        You must inform the applicant if you’ve made any changes.
                    </strong>
                </div>
                <button class="govuk-button">Change and confirm</button>

        </form>

    </div>
</div>

{% endblock %}
