{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-7"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Sprint 23
            <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
        </h1>{{releaseVersion | log }}


  <h4 class="govuk-heading-s">1. Add NVS, no training on profile - v1.</h4>
        <a href="https://invis.io/M2PMVRGWR9S" target="_blank" role="button"
           class="govuk-button govuk-button">
            Open prototype
        </a>


        <h4 class="govuk-heading-s">2. Add NACWO, has relevant training on profile  v3 - Not tested.</h4>
              <a href="https://invis.io/GZPMVST5Y4H" target="_blank" role="button"
                 class="govuk-button govuk-button">
                  Open prototype
              </a>


<h4 class="govuk-heading-s">3. Add NACWO, no training on profile v3 - Not tested.</h4>
<a href="https://invis.io/RBPMVSEPAWM" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>

<br><br>

<h4 class="govuk-heading-s">4. Add NIO, no training on profile v3 - Not tested.</h4>
<a href="https://invis.io/TUPMVUGKWDC" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>



    </div>
</div>

{% endblock %}
