{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-7"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Sprint 18
            <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
        </h1>{{releaseVersion | log }}



        <h4 class="govuk-heading-s">1. PPL Application - Protocols v2.</h4>


        <a href="https://invis.io/HDOKPK89V6M" target="_blank" role="button"
           class="govuk-button govuk-button">
            Open prototype
        </a>

<br><br>

      <h4 class="govuk-heading-s">2. PPL Application - The 3R's - Replacement v1.</h4>
        <a href="https://invis.io/87OK10AWRBK" target="_blank" role="button"
           class="govuk-button govuk-button">
            Open prototype
        </a>

<br><br>



        <h4 class="govuk-heading-s">3. PPL Application - Inspector Reviews PPL Application v1.</h4>
        <a href="https://invis.io/H3OKGEK8AZ4" target="_blank" role="button"
           class="govuk-button govuk-button">
            Open prototype
        </a>

<br><br>


<h4 class="govuk-heading-s">4. PPL Application - Applicant receives PPL with inspectors comments v1.</h4>
<a href="https://invis.io/9JOIWJAVZ8Y" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>

<br><br>


    </div>
</div>

{% endblock %}
