{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link">Home</a>
          </li>
      </ol>
  </div>


  <div class="govuk-!-padding-bottom-2"></div>

  <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-l">University of Croydon</h2>

                      <a href="details">Establishment details</a><p>Contact information for this establishment, as well as any conditions and authorisations.</p>
                      <br>
                  <a href="places">Licensed premises</a><p>Approved areas in this establishment where animals may be used.</p>
                  <br>
                  <a href="people">People</a><p>Named people, licence holders, and the Home Office Liason Contact.</p>
                  <br>
                  <a href="projects">Projects</a><p>Projects with primary availability at this establishment.</p>
                  <br>
                </ul>
              </div>

              <div class="column-one-third sidebar"><aside><dl><dt>Licence number</dt>
                <dd>XCC09J64D</dd><dt>Licence holder</dt><dd>
                  <a href="/people/4f82529e-ba3c-47af-b63c-9d6827b98b45">
                    Leonard Martin</a></dd></dl></aside></div>

{% endblock %}
