.flash-card {
  margin-top: 1.25em;
  padding: 20px 20px;
  background: #fff;
  color: #0B0C0C;
  border-bottom: 3px solid #8F23B3;
  box-sizing: border-box;
}

.card__footer {
  display: block;
  background-color: #DADADA;
  padding: 1em;
}

.interruption-card {
  margin-top: 1.25em;
  padding: 20px 20px;
  background: #005EA5;
  color: #fff;
  box-sizing: border-box;
}

.establishment-card {
  margin-top: 1.25em;
  padding: 20px 20px;
  background: #f3f3f3;
  color: #0B0C0C;
  border: 2px solid #DADADA;
  box-sizing: border-box;
}