{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-7"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Sprint 21
            <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
        </h1>{{releaseVersion | log }}



<h4 class="govuk-heading-s">1. PPL - Inspector adds comments- IDEA-v1.</h4>


<a href="https://invis.io/FXP475EMHPK" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>

<br><br>

<h4 class="govuk-heading-s">2. Add NIO, no training-v2.</h4>


<a href="https://invis.io/4XP46W789QN" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>

<br><br>

<h4 class="govuk-heading-s">3. Add NACWO, has training v2.</h4>


<a href="https://invis.io/MDP4707F5NY" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>






    </div>
</div>

{% endblock %}
