{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-width-container">

    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="establishment-home">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="people">People</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="search-results">Search results</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="profile">Profile</a>
              </lil>
              <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link">University of Birmingham</a>
                </lil>
        </ol>
    </div>

    <div class="govuk-!-padding-bottom-6"></div>



                <div class="govuk-!-padding-bottom-6"></div>
                <h2 class="govuk-heading-l">University of Birmingham</h2>
<!--TABS-->
                <div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#licenses">
        Licenses
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#named-roles">
        Named roles
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#training">
        Training
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#exemptions">
        Exemptions
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="licenses">
    <div class="govuk-!-padding-bottom-3"></div>

    <h3 class="govuk-heading-s">PIL License
        <br><br>
        <p class="govuk-body govuk-!-font-size-16">You do not currently hold a PIL license.</p>
        <a href="choose-named-role" class="govuk-button" type="submit">
            Apply for a PIL
        </a>
        <hr/>
        <h3 class="govuk-heading-s">PPL Licenses
            <br><br>
            <p class="govuk-body govuk-!-font-size-16">You do not currently hold any PPL licenses.</p>
            <a href="choose-named-role" class="govuk-button" type="submit">
                Apply for a PIL
            </a>
  </section>

  <section class="govuk-tabs__panel" id="named-roles">


        <div class="govuk-!-padding-bottom-3"></div>

        <h4 class="govuk-heading-s">Named roles
            <br><br>
            <p class="govuk-body govuk-!-font-size-16">No named roles held.</p>
            <a href="choose-named-role" class="govuk-button" type="submit">
                Add named role
            </a>
  </section>

  <section class="govuk-tabs__panel" id="training">

    <span class="govuk-link govuk-!-font-size-19" style="float: right; margin-top: 10px;"><a
            href="question">Add</a></span>


    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-top: -10px">
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Certificate number: {{ data['certificate-number'] }} <br>
                <span class="govuk-hint govuk-!-font-size-16" style="color: #000; margin-top: 10px">Expires on 1/7/2023</span>
            </dt>
            <dd class="app-check-your-answers__answer" style="width: 40%">
                <h4 class="govuk-heading-s" style="margin-bottom: 7px">Certification details</h4>
                <!--Certificate number: {{ data['certificate-number'] }}<br>-->
                Accreditation body: {{ data['accrediting-body'] }}<br>
                Date awarded: 1/7/2018 <br>
                Certificate: <a href="#" class=""
                                target="_blank" style="color: #005EA5">
                certificate.jpg
            </a>

                <div class="govuk-!-padding-bottom-6"></div>

                <h4 class="govuk-heading-s" style="margin-bottom: 7px">Modules</h4>
                <!--<ul class="govuk-list govuk-list&#45;&#45;bullet">-->
                <!--{% for feature in data['features'] %}-->
                <!--<li>{{ feature }}</li>-->
                <!--{% else %}-->
                <!--<li>No modules selected.</li>-->
                <!--{% endfor %}-->
                <!--</ul>-->
                <ul class="govuk-list govuk-list--bullet">
                    <li>L</li>
                    <li>E1</li>
                    <li>PILA (theory) - {{ data['species-theory'] }}</li>
                    <li>PILB</li>
                    <li>PILC</li>
                </ul>


            </dd>
            <dd class="app-check-your-answers__change">
                <a href="#">Change</a> I <a href="#">Remove</a>
            </dd>

            <div class="govuk-!-padding-bottom-6"></div>

        </div>

    </dl>
  </section>

  <section class="govuk-tabs__panel" id="exemptions">

    <span class="govuk-link govuk-!-font-size-19" style="float: right; margin-top: 10px;"><a
            href="question">Add</a></span>

    <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Exemption<br>
                <!--<span class="hod-circle side-space icon-medium"></span>-->
                <span class="govuk-hint govuk-!-font-size-16" style="color: #000; margin-top: 10px"></span>
            </dt>
            <dd class="app-check-your-answers__answer" style="width: 45%">
                <h4 class="govuk-heading-s" style="margin-bottom: 7px">Modules</h4>
                <!--<ul class="govuk-list govuk-list&#45;&#45;bullet">-->
                <!--{% for feature in data['features'] %}-->
                <!--<li>{{ feature }}</li>-->
                <!--{% else %}-->
                <!--<li>No modules selected.</li>-->
                <!--{% endfor %}-->
                <!--</ul>-->
                <ul class="govuk-list govuk-list--bullet">
                    <li>PILA (skills) - {{ data['species-skills-exemption'] }}</li>
                </ul>

                <h4 class="govuk-heading-s" style="margin-bottom: 7px">Reasons for exemption</h4>
                {{ data['evidence'] }}

                <div class="govuk-!-padding-bottom-4"></div>

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="#">Change</a> I <a href="#">Remove</a>
            </dd>

            <div class="govuk-!-padding-bottom-6"></div>
        </div>
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                <div class="govuk-!-padding-bottom-6"></div>
                Exemption<br>
                <!--<span class="hod-circle side-space icon-medium"></span>-->
                <span class="govuk-hint govuk-!-font-size-16" style="color: #000; margin-top: 10px"></span>
            </dt>
            <dd class="app-check-your-answers__answer" style="width: 45%">
                <h4 class="govuk-heading-s" style="margin-bottom: 7px">Modules</h4>
                <!--<ul class="govuk-list govuk-list&#45;&#45;bullet">-->
                <!--{% for feature in data['features'] %}-->
                <!--<li>{{ feature }}</li>-->
                <!--{% else %}-->
                <!--<li>No modules selected.</li>-->
                <!--{% endfor %}-->
                <!--</ul>-->
                <ul class="govuk-list govuk-list--bullet">
                    <li>PILA (skills) - {{ data['species-skills-exemption'] }}</li>
                </ul>

                <h4 class="govuk-heading-s" style="margin-bottom: 7px">Reasons for exemption</h4>
                {{ data['evidence'] }}

                <div class="govuk-!-padding-bottom-4"></div>

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="#">Change</a> I <a href="#">Remove</a>
            </dd>

            <div class="govuk-!-padding-bottom-6"></div>
        </div>
    </dl>
  </section>
</div>





























                  </div>
              </main>
          </div>

    {% endblock %}
