{% extends "layout.html" %}

{% block pageTitle %}
Confirmation page example
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <!--<div class="govuk-phase-banner">-->
    <!--<p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">-->
    <!--Prototype-->
    <!--</strong>-->
    <!--<span class="govuk-phase-banner__text">-->
    <!--This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.-->
    <!--</span>-->
    <!--</p>-->
    <!--</div>-->

    <main class="govuk-main-wrapper--l">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-box-highlight confirm-page">
                    <span class="hod-checkmark" style="color: #fff"></span>
                    <h2 class="govuk-heading-l" style="color: #fff; text-align: center">
                        Account created
                    </h2>
                    <p style="color: #005EA5; text-align: center"><a href="profile">View your profile</a></p>
                </div>

                <div class="govuk-!-padding-bottom-6"></div>

                <h2 class="govuk-heading-m">What happens next?</h2>

                <ul class="govuk-list govuk-list--bullet">
                    <li>You can update or add more information to your profile - such as any training courses you have already completed.</li>
                    <li>You can apply for a personal (PIL) or a project (PPL) licence.</li>
                </ul>

                <br>
                <a class="govuk-button" href="../new-user/homepage-applied" role="button">
                    Back to Homepage
                </a>
                <br>

            </div>
    </main>
</div>

{% endblock %}
