{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <!--<a href="/url/of/previous/page" class="govuk-back-link">Back</a>-->

    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="homepage">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Profile</a>
            </li>
        </ol>
    </div>

    <div class="govuk-!-padding-bottom-6"></div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Profile</h2>

                <!--<p class="govuk-body">All administrators and named people can view your profile.</p>-->

                <dl>
                    <dt class="govuk-heading-s">Licence number<br>
                        <span class="govuk-body"><a href="PIL">XXXXXXXX</a></span></dt>

                    <dt class="govuk-heading-s">Last updated<br>
                        <span class="govuk-body">22 August 2018 11:00 GMT</span></dt>

                    <dt class="govuk-heading-s">Name<br>
                        <span class="govuk-body">Mr Luigi Russo</span></dt>

                    <dt class="govuk-heading-s">Date of Birth<br>
                        <span class="govuk-body">1/3/1978</span></dt>

                    <dt class="govuk-heading-s">Email<br>
                        <span class="govuk-body">luigi.russo@birmingham.ac.uk</span></dt>

                    <dt class="govuk-heading-s">Phone number<br>
                        <span class="govuk-body">07717723456</span></dt>


                    <!--<dt class="govuk-heading-s">Licensed to carry out-->
                    <!--<div class="govuk-!-padding-bottom-2"></div>-->
                    <!--<li class="govuk-body">Regulated procedures on protected animals</li>-->
                    <!--<li class="govuk-body" style="margin-top: -10px;">Breeding of relevant protected animals</li>-->
                    <!--<li class="govuk-body" style="margin-top: -10px;">Supply of relevant protected animals</li>-->
                    <!--</dt>-->
                </dl>

                <div class="govuk-!-padding-bottom-6"></div>

                <div class="accordion">
                    <p class="toggles">
                        <button>Open all</button>
                    </p>
                    <section class="expanding-panel open">
                        <header><h4 class="govuk-heading-s" style="margin-bottom: -5px">Training</h4></header>
                        <div class="content">
                            <p>Content goes here</p>
                    </section>
                    <!--<section class="expanding-panel open">-->
                        <!--<header><h4 class="govuk-heading-s" style="margin-bottom: -5px">Licensed to carry out</h4>-->
                        <!--</header>-->
                        <!--<div class="content">-->
                            <!--<p>A. Minor/minimally invasive procedures not requiring sedation,-->
                                <!--analgesia or general anaesthesia-->
                            <!--</p>-->
                            <!--<p>B. Minor/minimally invasive procedures-->
                                <!--involving sedation, analgesia or brief general anaesthesia. Plus surgical procedures-->
                                <!--conducted under brief non-recovery general anaesthesia-->
                            <!--</p>-->
                            <!--<p>C. Surgical procedures involving general-->
                                <!--anaesthesia. Plus - administration and maintenance of balanced or prolonged general-->
                                <!--anaesthesia-->
                            <!--</p>-->
                    <!--</section>-->
                            <!--<li class="govuk-body">A. Minor/minimally invasive procedures not requiring sedation,-->
                                <!--analgesia or general anaesthesia-->
                            <!--</li>-->
                            <!--<li class="govuk-body" style="margin-top: -10px;">B. Minor/minimally invasive procedures-->
                                <!--involving sedation, analgesia or brief general anaesthesia. Plus surgical procedures-->
                                <!--conducted under brief non-recovery general anaesthesia-->
                            <!--</li>-->
                            <!--<li class="govuk-body" style="margin-top: -10px;">C. Surgical procedures involving general-->
                                <!--anaesthesia. Plus - administration and maintenance of balanced or prolonged general-->
                                <!--anaesthesia-->
                            <!--</li>-->
                    <!--</section>-->
                </div>
            </div>
        </div>

</div>
</div>
</div>

</main>
</div>


{% endblock %}
