{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-7"></div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, you have to retake your training.</h1>
                <p class="govuk-body">You need to retake the training modules if you apply for a new PIL when their
                    training has expired.</p>
            </div>
        </div>

        <div class="govuk-!-padding-bottom-2"></div>

        <a href="profile" class="govuk-button" type="submit">
            Back to profile
        </a>
    </main>
</div>

{% endblock %}
