{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-7"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Sprint 16
            <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
        </h1>{{releaseVersion | log }}



        <h4 class="govuk-heading-s">1. ASRU: Irene, Inspector finding & viewing a profile.</h4>


        <a href="https://invis.io/CDO35GSYM4P" target="_blank" role="button"
           class="govuk-button govuk-button">
            Open prototype
        </a>

<br><br>

      <h4 class="govuk-heading-s">2. Establishment user, Angela, HOLC finding & viewing a profile.</h4>
        <a href="https://invis.io/MYO35HSG3XP" target="_blank" role="button"
           class="govuk-button govuk-button">
            Open prototype
        </a>

<br><br>



        <h4 class="govuk-heading-s">3. External user, Luigi, Scientist logs into his home page / profile.</h4>
        <a href="https://invis.io/GWO35IEMKPA" target="_blank" role="button"
           class="govuk-button govuk-button">
            Open prototype
        </a>

<br><br>


<h4 class="govuk-heading-s">4. ASRU: Irene, Inspector - Content universe.</h4>
<a href="https://invis.io/24NZNWL5KVQ" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>

<br><br>


    </div>
</div>

{% endblock %}
