{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-!-padding-bottom-7"></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Sprint 19
            <!--<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
        </h1>{{releaseVersion | log }}



        <h4 class="govuk-heading-s">1. PPL Application - Protocols v2.</h4>


        <a href="https://invis.io/HDOKPK89V6M" target="_blank" role="button"
           class="govuk-button govuk-button">
            Open prototype
        </a>

<br><br>


<h4 class="govuk-heading-s">2. PPL Application - Protocols v3.</h4>


<a href="https://invis.io/8XOPPTZSGZP" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>

<br><br>

<h4 class="govuk-heading-s">3. PPL Application - Protocols v4.</h4>


<a href="https://invis.io/JBORJLBA5ND" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>

<br><br>

<h4 class="govuk-heading-s">4. PPL Application - Protocols v5.</h4>


<a href="https://invis.io/JZOTQWK4E8V" target="_blank" role="button"
   class="govuk-button govuk-button">
    Open prototype
</a>

<br><br>



      <h4 class="govuk-heading-s">5. Sprint 19 - Service Assessment - Amendment to a schedule of premises - End-to-end.</h4>
        <a href="https://invis.io/HXOTGU7BZ92" target="_blank" role="button"
           class="govuk-button govuk-button">
            Open prototype
        </a>

        <br><br>

              <h4 class="govuk-heading-s">6. Sprint 19 - Service Assessment - PIL Application - End-to-end.</h4>
                <a href="https://invis.io/4NOTHLHQ39G" target="_blank" role="button"
                   class="govuk-button govuk-button">
                    Open prototype
                </a>

<br><br>


    </div>
</div>

{% endblock %}
