{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<!--<div class="govuk-phase-banner">-->
<!--<p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">-->
<!--Prototype-->
<!--</strong>-->
<!--<span class="govuk-phase-banner__text">-->
<!--This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.-->
<!--</span>-->
<!--</p>-->
<!--</div>-->

<div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <div class="govuk-!-padding-bottom-4"></div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-l">Review PIL application
                <span class="govuk-caption-m">Applicant: <a href="">Luigi Russo</a></span>
            </h2>

        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">

                <!-- < CONTENT NAVIGATION > -->
                <ul class="leftnav">
                    <li>
                        <a href=""
                           class="leftnavlinks application-details active" data-target="application-details">
                            1. View requested procedures
                        </a>
                    </li>
                    <li>
                        <a href="training"
                           class="leftnavlinks recommendation" data-target="recommendation">
                            2. Review accredited training
                        </a>
                    </li>
                    <li>
                        <hr style="margin:0">
                        <a href="make-decision"
                           class="leftnavlinks decision" data-target="decision">
                            3. Endorse application
                        </a>
                    </li>
                </ul>
                <!-- </ CONTENT NAVIGATION > -->
            </div>


            <div class="govuk-grid-column-two-thirds">

                <!-- < APPLICATION DETAILS > -->
                <div id="application-details" class="leftnavcontent" style="display: block;">
                    <!--<div class="leftnavcontent" id="application-details">-->

                    <h3 class="govuk-heading-m">
                        Step 1: Requested procedures
                    </h3>

                    <div class="govuk-inset-text">
                        Submitted by <a href="#">Luigi Russo</a> on 22 August 2018.
                        <!--<div class="govuk-!-padding-bottom-2"></div>-->
                    </div>

                    <dl class="app-check-your-answers app-check-your-answers--short">
                        <div class="app-check-your-answers__contents">
                            <dt class="app-check-your-answers__question">
                                Certificate number: 121459 <br>
                                <span class="govuk-hint govuk-!-font-size-16" style="color: #000; margin-top: 10px">Expires on 1/7/2023</span>
                            </dt>
                            <dd class="app-check-your-answers__answer">

                                <h4 class="govuk-heading-s" style="margin-bottom: 7px">Certification details</h4>
                                Accreditation body: Society of Biology<br>
                                Date awarded: 1/7/2018<br>
                                Certificate: <a href="#" class=""
                                                target="_blank" style="color: #005EA5">
                                certificate.jpg
                            </a>

                                <div class="govuk-!-padding-bottom-4"></div>

                                <h4 class="govuk-heading-s" style="margin-bottom: 7px">Modules</h4>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>L</li>
                                    <li>E1</li>
                                    <li>PILA (theory) - Rodents</li>
                                    <li>PILB</li>
                                    <li>PILC</li>
                                </ul>

                            </dd>
                            <dd class="app-check-your-answers__change">
                                <a href="change-training/certificates">
                                    Change <span class="govuk-visually-hidden">training</span>
                                </a>
                            </dd>

                            <div class="govuk-!-padding-bottom-6"></div>

                        </div>

                        <div class="app-check-your-answers__contents">
                            <dt class="app-check-your-answers__question">
                                Exemptions<br>
                                <!--<span class="hod-circle side-space icon-medium"></span>-->
                                <span class="govuk-hint govuk-!-font-size-16"
                                      style="color: #000; margin-top: 10px"></span>
                            </dt>
                            <dd class="app-check-your-answers__answer" style="width: 45%">
                                <h4 class="govuk-heading-s" style="margin-bottom: 7px">Modules</h4>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>PILA (skills) - Rodents</li>
                                </ul>

                                <h4 class="govuk-heading-s" style="margin-bottom: 7px">Reasons for exemption</h4>
                                <p class="body">I have been working as a vet on a farm in Australia since 2010, so my training has lapsed. However, my expertise has widened during this role.</textarea></p>
                            </dd>
                            <dd class="app-check-your-answers__change">
                                <a href="change-exemption/training-exemption">Change</a>
                            </dd>

                            <div class="govuk-!-padding-bottom-6"></div>

                        </div>

                    </dl>

                    <div class="govuk-!-padding-bottom-8"></div>

                    <h2 class="govuk-heading-m">
                        Procedures
                        <span class="govuk-link govuk-body govuk-!-font-size-19"
                        style="float: right; margin-top: 10px;"><a
                        href="change-procedures/procedures">Change</a></span>
                    </h2>

                    <dl class="app-check-your-answers app-check-your-answers--long">
                        <!--<div class="app-check-your-answers__contents">-->
                        <!--<dt class="app-check-your-answers__question" style="width: 30%">-->
                        <!--Previous licence number-->
                        <!--</dt>-->
                        <!--<dd class="app-check-your-answers__answer">-->
                        <!--{{ data['licence-number'] }}-->
                        <!--</dd>-->
                        <!--<dd class="app-check-your-answers__change">-->
                        <!--<a href="#">-->
                        <!--Change <span class="govuk-visually-hidden">registration number</span>-->
                        <!--</a>-->
                        <!--</dd>-->
                        <!--</div>-->
                        <div class="app-check-your-answers__contents">
                            <dt class="app-check-your-answers__question" style="width: 30%">
                                Procedures
                            </dt>
                            <dd class="app-check-your-answers__answer">
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>A. Minor/minimally invasive procedures not requiring sedation, analgesia or
                                        general
                                        anaesthesia
                                    </li>
                                    <li>B. Minor/minimally invasive procedures involving sedation, analgesia or brief
                                        general
                                        anaesthesia. Plus surgical procedures conducted under brief non-recovery general
                                        anaesthesia
                                    </li>
                                    <li>C. Surgical procedures involving general anaesthesia. Plus - administration and
                                        maintenance of balanced or prolonged general anaesthesia
                                    </li>
                                </ul>
                            </dd>
                            <!--<dd class="app-check-your-answers__change">-->
                            <!--<a href="#">-->
                            <!--Change <span class="govuk-visually-hidden">procedures</span>-->
                            <!--</a>-->
                            <!--</dd>-->
                        </div>
                    </dl>

                    <!--<hr class="govuk-section-break govuk-section-break&#45;&#45;xl govuk-section-break&#45;&#45;visible">-->

                    <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
                        <ul class="gem-c-pagination__list" data-module="track-click">
                            <!--<li class="gem-c-pagination__item gem-c-pagination__item--previous" style="float: left; margin-left: -35px;">-->
                            <!--<a href="#"-->
                            <!--class="gem-c-pagination__link" rel="prev" data-track-category="contentsClicked"-->
                            <!--data-track-action="previous" data-track-label="/"-->
                            <!--data-track-dimension="previous" data-track-dimension-index="29">-->
                            <!--<span class="gem-c-pagination__link-title">-->
                            <!--<svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"-->
                            <!--viewBox="0 0 17 13">-->
                            <!--<path fill="currentColor"-->
                            <!--d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>-->
                            <!--</svg>-->
                            <!--<span class="gem-c-pagination__link-text">-->
                            <!--Previous-->
                            <!--</span>-->
                            <!--</span>-->
                            <!--<span class="visually-hidden"></span>-->
                            <!--<span class="gem-c-pagination__link-label">View proposed amendment</span>-->
                            <!--</a>-->
                            <!--</li>-->
                            <li class="gem-c-pagination__item gem-c-pagination__item--next" style="float: right">
                                <a href="make-decision"
                                   class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked"
                                   data-track-action="next"
                                   data-track-label=""
                                   data-track-dimension="next" data-track-dimension-index="29">
                    <span class="gem-c-pagination__link-title">
                    <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
                         viewBox="0 0 17 13">
                    <path fill="currentColor"
                          d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                    <span class="gem-c-pagination__link-text">
                    Next
                    </span>
                    </span>
                                    <span class="visually-hidden"></span>
                                    <span class="gem-c-pagination__link-label">Endorse application</span>
                                </a>
                            </li>
                        </ul>
                    </nav>


                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
