{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper--s" style="margin-top: -25px">

    <a href="#"><img
            src="../../../public/images/13/email.png"></a>

    <div class="govuk-!-padding-bottom-6"></div>

    <div class="govuk-grid-row" style="margin-left: 30px">

        <p class="govuk-body">Hello [name of NTCO],</p>

        <p class="govuk-body">Luigi Russo wants to apply for a personal licence at University of Birmingham.</p>

        <p class="govuk-body">This request needs your review and endorsement.</p>

        <p class="govuk-body"><a href="sign-in">Review PIL application</a></p>

        <div class="govuk-!-padding-bottom-6"></div>

        <p class="govuk-body">This is an automated email. Please do not reply. If you need help, send an email to <a href="#">support@asl.com</a>.</p>
        <br>
        <p class="govuk-body">
            Many thanks<br>
            Animals in Science Regulation Unit

    </div>

</main>

{% endblock %}
