{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<!--<div class="govuk-phase-banner">-->
<!--<p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">-->
<!--Prototype-->
<!--</strong>-->
<!--<span class="govuk-phase-banner__text">-->
<!--This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.-->
<!--</span>-->
<!--</p>-->
<!--</div>-->

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>

    <div class="govuk-!-padding-bottom-4"></div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-l">Luigi Russo's PIL application
                <!--<span class="govuk-caption-m">For <a href="">Luigi Russo</a></span>-->
            </h2>

        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">

                <!-- < CONTENT NAVIGATION > -->
                <ul class="leftnav">
                    <li>
                        <a href="decision"
                           class="leftnavlinks application-details" data-target="application-details">
                            1. View requested procedures
                        </a>
                    </li>
                    <li>
                        <a href="training"
                           class="leftnavlinks recommendation" data-target="recommendation">
                            2. Review accredited training
                        </a>
                    </li>
                    <li>
                        <!--<hr style="margin:0">-->
                        <a href="make-decision"
                           class="leftnavlinks decision active" data-target="decision">
                            3. Endorse application
                        </a>
                    </li>
                </ul>
                <!-- </ CONTENT NAVIGATION > -->
            </div>


            <div class="govuk-grid-column-two-thirds">

                <!-- < APPLICATION DETAILS > -->
                <div id="application-details" class="leftnavcontent" style="display: block;">
                    <!--<div class="leftnavcontent" id="application-details">-->

                    <h3 class="govuk-heading-m">
                        Step 3: Do you endorse this application?
                    </h3>

                    <div class="govuk-!-padding-bottom-6"></div>

                    <form name="aspnetForm" method="post"
                          onsubmit="multiNavigation('decision', ['Approve', 'Reject', 'Return', ''], ['check-your-answers-approve', 'check-your-answers-reject', 'check-your-answers-return', '']);return false;"
                          id="aspnetForm" autocomplete="off">

                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <!--<legend class="govuk-fieldset__legend govuk-fieldset__legend&#45;&#45;m">-->
                                <!--<h1 class="govuk-fieldset__heading">-->
                                <!--Text goes here-->
                                <!--</h1>-->
                                <!--</legend>-->
                                <div class="govuk-radios" data-module="radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="decision-conditional-1"
                                               name="decision"
                                               type="radio" value="Approve"
                                               data-aria-controls="conditional-decision-conditional-1">
                                        <label class="govuk-label govuk-radios__label" for="decision-conditional-1">
                                            Yes
                                            <!--<span id="more-detail-hint" class="govuk-hint">-->
                                            <!--All changes will be updated in the system once granted.-->
                                            <!--</span>-->
                                        </label>

                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="decision-conditional-2"
                                               name="decision"
                                               type="radio" value="Reject"
                                               data-aria-controls="conditional-decision-conditional-2">
                                        <label class="govuk-label govuk-radios__label" for="decision-conditional-2">
                                            No
                                        </label>
                                    </div>
                                    <div class="govuk-radios__conditional" id="conditional-decision-conditional-2">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="conditional-decision-conditional-2">
                                                Explain your decision to the applicant.
                                            </label>
                                            <textarea class="govuk-textarea" id="decision-reject"
                                                      name="more-detail" rows="5"
                                                      aria-describedby="more-detail-hint"></textarea>
                                        </div>

                                    </div>
                                    <!--<div class="govuk-radios__item">-->
                                    <!--<input class="govuk-radios__input" id="decision-conditional-3"-->
                                    <!--name="decision"-->
                                    <!--type="radio" value="Return"-->
                                    <!--data-aria-controls="conditional-decision-conditional-3">-->
                                    <!--<label class="govuk-label govuk-radios__label" for="decision-conditional-3">-->
                                    <!--Return to applicant-->
                                    <!--</label>-->
                                    <!--</div>-->
                                    <!--<div class="govuk-radios__conditional" id="conditional-decision-conditional-3">-->
                                    <!--<div class="govuk-form-group">-->
                                    <!--<label class="govuk-label" for="conditional-decision-conditional-3">-->
                                    <!--Explain your decision to the applicant.-->
                                    <!--</label>-->
                                    <!--<textarea class="govuk-textarea" id="decision-return"-->
                                    <!--name="more-detail" rows="5"-->
                                    <!--aria-describedby="more-detail-hint"></textarea>-->
                                    <!--</div>-->

                                    <!--</div>-->
                                    <!--</div>-->
                            </fieldset>
                        </div>

                        <input id="advert-option-next--button" type="submit" value="Continue"
                               class="govuk-button govuk-button"
                               data-ignore-double-submit="true"> <br>

                        <!--<a href="#" class="govuk-link">Reassign to another officer</a>-->

                        <!--<button type="submit" class="button-secondary">-->
                        <!--Reallocate to team-->
                        <!--</button>-->

                    </form>

                </div><!-- < DECISION > -->

            </div>
        </div>
    </div>
</div>


{% endblock %}
