{% extends "layout.html" %}

{% block pageTitle %}
Research and testing with animals prototype
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <!--<div class="govuk-phase-banner">-->
    <!--<p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">-->
    <!--Prototype-->
    <!--</strong>-->
    <!--<span class="govuk-phase-banner__text">-->
    <!--This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.-->
    <!--</span>-->
    <!--</p>-->
    <!--</div>-->

    <!--<div class="govuk-breadcrumbs">-->
        <!--<ol class="govuk-breadcrumbs__list">-->
            <!--<li class="govuk-breadcrumbs__list-item">-->
                <!--<a class="govuk-breadcrumbs__link" href="homepage">Home</a>-->
            <!--</li>-->
            <!--<li class="govuk-breadcrumbs__list-item" aria-current="page">Outstanding tasks</li>-->
        <!--</ol>-->
    <!--</div>-->

    <div class="govuk-!-padding-bottom-6"></div>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">Tasks</h2>

                <div class="govuk-!-padding-bottom-3"></div>

                <!--<header role="banner" id="global-header" class="" style="background-color: #f3f3f3;">-->
                    <!--<div class="header-wrapper">-->
                        <!--<div class="header-global">-->

                            <!--&lt;!&ndash;<h3 class="govuk-heading-m">&ndash;&gt;-->
                            <!--&lt;!&ndash;Search by establishment name&ndash;&gt;-->
                            <!--&lt;!&ndash;</h3>&ndash;&gt;-->

                            <!--<p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">Search by establishment-->
                                <!--name</p>-->

                            <!--<a href="#" class="search-toggle js-header-toggle"></a>-->

                            <!--<form id="search" class="site-search" action="#" method="get" role="search">-->
                                <!--<div class="content">-->
                                    <!--<label for="site-search-text"></label>-->
                                    <!--<input type="search" name="q" id="site-search-text" title="Search"-->
                                           <!--class="js-search-focus">-->
                                    <!--<input class="submit" type="submit" value="Search">-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="govuk-!-padding-bottom-6"></div>-->

                <div class="wrapper">
                    <span class="govuk-body-m breakable-text">Filter by:</span>&nbsp; &nbsp;
                    <h3 class="govuk-heading-s breakable-text">All</h3>&nbsp; &nbsp;
                    <a href="tasks-filter-PEL"
                       class="govuk-body govuk-!-font-size-19 breakable-text govuk-link govuk-link--no-visited-state">PEL</a>&nbsp;
                    &nbsp;
                    <a href="tasks-filter-PIL"
                       class="govuk-body govuk-!-font-size-19 breakable-text govuk-link govuk-link--no-visited-state">PIL</a>&nbsp;
                    &nbsp;
                    <a href="tasks-filter-PPL"
                       class="govuk-body govuk-!-font-size-19 breakable-text govuk-link govuk-link--no-visited-state">PPL</a>
                </div>

                <div class="govuk-!-padding-bottom-7"></div>

                <div class="govuk-tabs govuk-!-margin-bottom-6" data-module="tabs">
                    <h2 class="govuk-tabs__title">
                        Contents
                    </h2>

                    <!--<ul class="govuk-tabs__list">-->
                        <!--<li class="govuk-tabs__list-item">-->
                            <!--<a class="govuk-tabs__tab" href="#my-tasks">-->
                                <!--My tasks (3)-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="govuk-tabs__list-item">-->
                            <!--<a class="govuk-tabs__tab" href="#team-tasks">-->
                                <!--All tasks (10)-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->

                    <section class="govuk-tabs__panel" id="my-tasks" style="background-color: #fff">
                        <h3 class="govuk-heading-m">My tasks</h3>

                        <!--START tab 1 div -->
                        <table class="clickable">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <td class="row"><a href="#"
                                                   style="color:#005EA5; font-weight:bold; text-decoration:none;">Received</a><span
                                        style="color:#005EA5;">▼</span>
                                </td>
                                <td class="row"><a href="#"
                                                   style="color:#005EA5; font-weight:bold; text-decoration:none;">Establishment</a>
                                </td>
                                <!--<td class="row"><a href="#"-->
                                <!--style="color:#005EA5; font-weight:bold; text-decoration:none;">Assigned to</a>-->
                                <!--</td>-->
                                <td class="row"><a href="#"
                                                   style="color:#005EA5; font-weight:bold; text-decoration:none;">Licence</a>
                                </td>
                                <td class="row"><a href="#"
                                                   style="color:#005EA5; font-weight:bold; text-decoration:none;">Type</a>
                                </td>
                                <!--<td class="row"><a href="#"-->
                                                   <!--style="color:#005EA5; font-weight:bold; text-decoration:none;">Deadline</a>-->
                                <!--</td>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="row">22 Aug 2018</td>
                                <td class="row">University of Birmingham</td>
                                <!--<td class="row">Barry Taylor</td>-->
                                <td class="row">PIL</td>
                                <!--<td class="row">Area amendment<br><span-->
                                <!--class="govuk-body-s">LG36</span></td>-->
                                <td class="row"><a href="decision">PIL application</a><br><span
                                        class="govuk-body-s">Stephen Taylor</span></td>
                                <!--<td class="row">-</td>-->
                            </tr>
                            <tr>
                                <td class="row">22 Aug 2018</td>
                                <td class="row">University of Birmingham</td>
                                <!--<td class="row">Barry Taylor</td>-->
                                <td class="row">PIL</td>
                                <td class="row"><a href="#">PIL application</a><br><span
                                        class="govuk-body-s">Amy Price</span></td>
                                <!--<td class="row">19 days</td>-->
                            </tr>
                            <tr>
                                <td class="row">22 Aug 2018</td>
                                <td class="row">Cardiff University</td>
                                <!--<td class="row">Barry Taylor</td>-->
                                <td class="row">PIL</td>
                                <td class="row"><a href="#">PIL application</a><br><span class="govuk-body-s">Ellen Page</span>
                                </td>
                                <!--<td class="row">18 days</td>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--end tab 1 div  -->

                    </section>

                    <!--<section class="govuk-tabs__panel" id="team-tasks" style="background-color: #fff">-->
                        <!--<h3 class="govuk-heading-m">All tasks</h3>-->

                        <!--&lt;!&ndash;START tab 2 div &ndash;&gt;-->
                        <!--<table class="govuk-table">-->
                            <!--<thead class="govuk-table__head">-->
                            <!--<tr class="govuk-table__row">-->
                                <!--<td class="row"><a href="#"-->
                                                   <!--style="color:#005EA5; font-weight:bold; text-decoration:none;">Received</a><span-->
                                        <!--style="color:#005EA5;">▼</span>-->
                                <!--</td>-->
                                <!--<td class="row"><a href="#"-->
                                                   <!--style="color:#005EA5; font-weight:bold; text-decoration:none;">Establishment</a>-->
                                <!--</td>-->
                                <!--&lt;!&ndash;<td class="row"><a href="#"&ndash;&gt;-->
                                <!--&lt;!&ndash;style="color:#005EA5; font-weight:bold; text-decoration:none;">Assigned to</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</td>&ndash;&gt;-->
                                <!--<td class="row"><a href="#"-->
                                                   <!--style="color:#005EA5; font-weight:bold; text-decoration:none;">Licence</a>-->
                                <!--</td>-->
                                <!--<td class="row"><a href="#"-->
                                                   <!--style="color:#005EA5; font-weight:bold; text-decoration:none;">Type</a>-->
                                <!--</td>-->
                                <!--&lt;!&ndash;<td class="row"><a href="#"&ndash;&gt;-->
                                <!--&lt;!&ndash;style="color:#005EA5; font-weight:bold; text-decoration:none;">Deadline</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</td>&ndash;&gt;-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->

                            <!--</tbody>-->
                        <!--</table>-->
                        <!--&lt;!&ndash;end tab 2 div  &ndash;&gt;-->

                    <!--</section>-->
                </div>
            </div>
        </div>

    </main>
</div>


{% endblock %}
